DATABASE_URL="postgresql://neondb_owner:npg_pjrA6zQmK0sI@ep-calm-cherry-a43y16sh-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BASE_URL="https://your-deployed-url.com"
PORT=5000
